A Cohort was sampled by querying the data source: {{ dataSource }} by the following Question Variables:
{% for key, value in questionVariables.items()-%}
 -  {{key}} = "{{value}}"
{% endfor %}
{% if deltaQueryDelta -%}
Additional metrics  {{ deltaQueryDelta }} were extracted from {{ deltaQueryDeltaLocations }}.
{% endif -%}
This query resulted in {% for key, value in numberSetsReturned.items() %} {{value}} {{key}} files {% endfor -%} datasets  out of {{totalSets}} datasets available in the catalog.

For the workflow {{workflowName}} the following inputs were used:
{% for key , value in workflowInputFiles.items() -%} {{value | length}} datasets were used as the input collection {{ key }} {% endfor -%}.

Additional required parameters are mapped to the values
{% for key , value in workflowParameters.items() -%}
  {{key}} was mapped to {{value}}
{% endfor -%}

The optional parameters {{optionalParametersNotUsed}} were not used in the workflow.
The workflow resulted in a p value of {{ confidenceValue }}. The p value was derived by {user generated description}.

{% for diff in diffs -%}
  A new trigger line of inquiry was triggered using {% for key, value in diff.numberSetsReturned.items() %} {{value}} {{key}} files {% endfor -%}. Consequently the p value has changed  to {{diff.confidenceValue}}.
{% endfor -%}
